<div>
  <h1>Example Two Way Binding</h1>
  <h2>Hi {{ name }}</h2>
  <br />
  <input type="number" [(ngModel)]="age" />

  <br />
  <br />
  <h3>Example about ngIf + ng-template</h3>
  <div *ngIf="age <= 10 then young; else old"></div>
  <ng-template #young><h2>You are young</h2></ng-template>
  <ng-template #old><h2>You are old</h2></ng-template>

  <br />
  <br />
  <h3>Example about Loop and Pipe</h3>

  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sale</th>
    </tr>

    <tr *ngFor="let item of fruits; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ item.name }}</td>
      <td>
        <span [ngClass]="{'so-am' : item.price < 0}">{{ item.price }}</span>
      </td>
      <td>
        <span>{{ item.isSale | onSale | uppercase }}</span>
      </td>
    </tr>
  </table>
</div>